header {
  display: flex;
  justify-content: center;
  align-self: center;
}

#joke-form {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#joke-form .input-field, #joke-form .submit-btn {
  margin: 8px 0px;
}

.joke-card {
  width: 80%;
  margin: 14px auto;
}

.buttonProgress {
  position: 'absolute';
  top: 50%;
  left: 50%;
  margin-top: -12;
  margin-left: -12;
}

.wrapper {
  margin: spacing(1);
  position: relative;
}
