#games-container, #game-detail-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 15px;
}

.card .card-image {
  height: 200px;
}

.chip {
  margin-left: 6px;
  margin-bottom: 5px;
}

.link-navbar {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

.phantom-theme-card {
  color: red;
  background-color: black
}